/* GENERAL  */
.nav-container{
    display:flex;
    justify-content: space-between;
    line-height: 4em;
    padding:0 2em;
    box-shadow: 0px 0px 3px 0px black;
    position: fixed;
    top:0;
    width: 100%;
    background-color: white;
    z-index: 2;
}

/* LEFT AND RIGHT  */
.nav-logo{
    padding:1em 0;
    font-weight: 500;
}
.nav-right{
    display: flex;
    gap:1em;
    font-weight: 300;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: none;
    color:black;
    
}
