.projects-container{
    max-width:90%;
    margin: 0 auto;
    padding:1em;
}
.projects-background{
    background-color:rgb(22, 22, 22);
}
.projects-title{
    font-size: 2em;
    color:white;
}
.project{
    margin:2em auto;
    display: block;
    max-width: 80%;
    cursor:pointer;
    box-shadow: 1px 5px 10px 0px black;
    position: relative;
}
.project-img{
    max-width: 100%;
}

/* technologies container */
.project-tools{
    display: flex;
    position: absolute;
    flex-direction: column;
    right:.5em;
    top:.5em;
}

/* technologies individual */
.project-tool{
    max-height: 2em;
}